.flex{
    display: flex;
}
.justify-center{
    justify-items: center;
}
.align-center{
    align-items: center;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}